@import 'variables/global.scss';
@import 'shared/styles/themes/normal.scss';
@import 'shared/styles/themes/dark.scss';
@import 'reset';

html,
body {
  height: 100vh;
  line-height: 1;
  background: var(--bg-color);
}
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  flex: 1 1 auto;
}
[class*="__container"] {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.app {
  font: $font-m;
  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}

input[type="checkbox"] {
  appearance: none;
  background: var(--secondary-bg-color);
  border: 1px solid #9ABBCE;
  height: 20px;
  width: 20px;
  border-radius: 2px;
  vertical-align: text-bottom;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    top: 0;
  }

  &:checked {
    border-color: var(--highlight-color);

    &::before {
      border-right: 2px solid var(--highlight-color);
      border-bottom: 2px solid var(--highlight-color);
      height: 65%;
      width: 35%;
      transform: rotate(50deg) translateY(-10%) translateX(-10%);
    }
  }
}

.large-text {
  font: $font-l;
  font-weight: 600;
  color: var(--highlight-color);
}