.tab__list {
  display: flex;
  justify-content: space-between;
  border: 1px solid #DFE5EC;
  margin-bottom: 20px;
  box-shadow: 5px 7px 8px 1px rgba(110, 110, 112, 0.2);
}
.tab__item {
  text-transform: uppercase;
  width: 100%;
  text-align: center;

  &:not(:last-child) {
    border-right: 1px solid #DFE5EC;
  }
}