@import 'shared/styles/themes/normal.scss';
@import 'shared/styles/themes/dark.scss';

.ticket {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    background: var(--secondary-bg-color);
    border-radius: 5px;
    gap: 20px;
    padding: 20px;
    box-shadow: 4px 3px 8px 1px var(--box-shadow-color);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    min-height: 35px;
  }
}