@import 'shared/styles/themes/normal.scss';
@import 'shared/styles/themes/dark.scss';

.main {
  &__container {
    display: grid;
    grid-template-areas:
          'filter tab'
          'filter ticket';
    grid-gap: 20px;
    grid-template-columns: 0.8fr 2fr;
  }
}

.filter {
  background: var(--secondary-bg-color);
  border-radius: 5px;
  padding: 20px;
  max-height: 250px;
  box-shadow: 4px 3px 8px 1px var(--box-shadow-color);

  grid-area: filter;
  align-self: flex-start;

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 12px;
  }
}

.tab {
  grid-area: tab;
  align-self: flex-start;
}

.ticket {
  grid-area: ticket;
  
  &__loader {
    text-align: center;
  }
}