@import 'shared/styles/themes/normal.scss';
@import 'shared/styles/themes/dark.scss';

.tab {
  &__list {
    background: var(--secondary-bg-color);
    border-radius: 5px;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    border: 1px solid var(--border-color);
    box-shadow: 4px 3px 8px 1px var(--box-shadow-color);
  }

  &__item {
    width: 100%;
    text-align: center;

    &_selected {
      background: var(--highlight-color);
      color:#FFF ;
    }
  
    &:not(:last-child) {
      border-right: 1px solid var(--border-color);
    }
  }
}