.filter__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.filter__content {
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  gap: 10px;
}

input[type="checkbox"] {
  appearance: none;
  background: #fff;
  border: 1px solid #9ABBCE;
  height: 20px;
  width: 20px;
  border-radius: 2px;
  vertical-align: text-bottom;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    top: 0;
  }

  &:checked {
    border-color: #2196F3;

    &::before {
      border-right: 2px solid #2196F3;
      border-bottom: 2px solid #2196F3;
      height: 65%;
      width: 35%;
      transform: rotate(50deg) translateY(-10%) translateX(-10%);
    }
  }
}